In [1]:
# Panal Data structure, kinda analog of a three-dimentional analogue of DataFrame. 
import numpy as np 
import pandas as pd 
from pandas import DataFrame as df
import pandas_datareader.data as web
from datetime import date

In [2]:
sdate = date(2016,1,3)
edate = date.today()

In [3]:
portfolio = ["AAPL","MSFT","GOOGL"]

In [4]:
dic_data = dict((stock, web.DataReader(stock, "google", sdate, edate)) for stock in portfolio)
# dic_data

In [5]:
pdata = pd.Panel(dic_data)
pdata

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 390 (major_axis) x 5 (minor_axis)
Items axis: AAPL to MSFT
Major_axis axis: 2016-01-04 00:00:00 to 2017-07-20 00:00:00
Minor_axis axis: Open to Volume

In [9]:
# items = open,close
# major_axis=date
# minor_axis=tickers
pdata = pdata.swapaxes('items', 'minor')
# Interchange axes and swap values axes appropriately
pdata["Close"]

              AAPL    GOOGL   MSFT
Date
2016-01-04  105.35   759.44  54.80
2016-01-05  102.71   761.53  55.05
2016-01-06  100.70   759.33  54.05
2016-01-07   96.45   741.00  52.17
2016-01-08   96.96   730.91  52.33
2016-01-11   98.53   733.07  52.30
2016-01-12   99.96   745.34  52.78
2016-01-13   97.39   719.57  51.64
2016-01-14   99.52   731.39  53.11
2016-01-15   97.13   710.49  50.99
2016-01-19   96.66   719.08  50.56
2016-01-20   96.79   718.56  50.79
2016-01-21   96.30   726.67  50.48
2016-01-22  101.42   745.46  52.29
2016-01-25   99.44   733.62  51.79
2016-01-26   99.99   733.79  52.17
2016-01-27   93.42   717.58  51.22
2016-01-28   94.09   748.30  52.06
2016-01-29   97.34   761.35  55.09
2016-02-01   96.43   770.77  54.71
2016-02-02   94.48   780.91  53.00
2016-02-03   96.35   749.38  52.16
2016-02-04   96.60   730.03  52.00
2016-02-05   94.02   703.76  50.16
2016-02-08   95.01   704.16  49.41
2016-02-09   94.99   701.02  49.28
2016-02-10   94.27   706.85  49.71
2016-02-11   93.70   706.36  49.69
2016-02-12   93.99   706.89  50.50
2016-02-16   96.64   717.64  51.09
...            ...      ...    ...
2017-06-08  154.99  1004.28  71.95
2017-06-09  148.98   970.12  70.32
2017-06-12  145.42   961.81  69.78
2017-06-13  146.59   970.50  70.65
2017-06-14  145.16   967.93  70.27
2017-06-15  144.29   960.18  69.90
2017-06-16  142.27   958.62  70.00
2017-06-19  146.34   975.22  70.87
2017-06-20  145.01   968.99  69.91
2017-06-21  145.87   978.59  70.27
2017-06-22  145.63   976.62  70.26
2017-06-23  146.28   986.09  71.21
2017-06-26  145.82   972.09  70.53
2017-06-27  143.73   948.09  69.21
2017-06-28  145.83   961.01  69.80
2017-06-29  143.68   937.82  68.49
2017-06-30  144.02   929.68  68.93
2017-07-03  143.50   919.46  68.17
2017-07-05  144.09   932.26  69.08
2017-07-06  142.73   927.69  68.57
2017-07-07  144.18   940.81  69.46
2017-07-10  145.06   951.00  69.98
2017-07-11  145.53   953.53  69.99
2017-07-12  145.74   967.66  71.15
2017-07-13  147.77   968.85  71.77
2017-07-14  149.04   976.91  72.78
2017-07-17  149.56   975.96  73.35
2017-07-18  150.08   986.95  73.30
2017-07-19  151.02   992.77  73.86
2017-07-20  150.34   992.19  74.22

[390 rows x 3 columns]

In [10]:
# pdata.Close

In [11]:
# loc-based label indexing generalizes to three dimensions, 
# so we can select all data at a particular date or a range of dates
pdata.loc[:,'1/20/2017',]

         Open    High     Low   Close      Volume
AAPL   120.45  120.45  119.73  120.00  32597892.0
GOOGL  829.09  829.24  824.60  828.17   1306183.0
MSFT    62.67   62.82   62.37   62.74  30213462.0

In [12]:
pdata.loc["Close", '1/20/2017':'1/27/2017',]

              AAPL   GOOGL   MSFT
Date
2017-01-20  120.00  828.17  62.74
2017-01-23  120.08  844.43  62.96
2017-01-24  119.97  849.53  63.52
2017-01-25  121.88  858.45  63.68
2017-01-26  121.94  856.98  64.27
2017-01-27  121.95  845.03  65.78

In [13]:
# an alternative way to represent panel data, is in "stacked" DateFrame form
stacked = pdata.loc[:, '1/20/2017':'1/27/2017',:].to_frame()
stacked

                    Open    High     Low   Close      Volume
Date       minor
2017-01-20 AAPL   120.45  120.45  119.73  120.00  32597892.0
           GOOGL  829.09  829.24  824.60  828.17   1306183.0
           MSFT    62.67   62.82   62.37   62.74  30213462.0
2017-01-23 AAPL   120.00  120.81  119.77  120.08  22050218.0
           GOOGL  831.61  845.54  828.70  844.43   2457377.0
           MSFT    62.70   63.12   62.57   62.96  23097581.0
2017-01-24 AAPL   119.55  120.10  119.50  119.97  23211038.0
           GOOGL  846.98  851.52  842.28  849.53   1688375.0
           MSFT    63.20   63.74   62.94   63.52  24672940.0
2017-01-25 AAPL   120.42  122.10  120.28  121.88  32586673.0
           GOOGL  853.55  858.79  849.74  858.45   1662148.0
           MSFT    63.95   64.10   63.45   63.68  24654933.0
2017-01-26 AAPL   121.67  122.44  121.60  121.94  26337576.0
           GOOGL  859.05  861.00  850.52  856.98   3493251.0
           MSFT    64.12   64.54   63.55   64.27  43554645.0
2017-01-27 AAPL   122.14  122.35  121.60  121.95  20562944.0
           GOOGL  859.00  867.00  841.90  845.03   3752497.0
           MSFT    65.39   65.91   64.89   65.78  44817972.0

In [14]:
type(stacked)

pandas.core.frame.DataFrame

In [15]:
stacked.Close

Date        minor
2017-01-20  AAPL     120.00
            GOOGL    828.17
            MSFT      62.74
2017-01-23  AAPL     120.08
            GOOGL    844.43
            MSFT      62.96
2017-01-24  AAPL     119.97
            GOOGL    849.53
            MSFT      63.52
2017-01-25  AAPL     121.88
            GOOGL    858.45
            MSFT      63.68
2017-01-26  AAPL     121.94
            GOOGL    856.98
            MSFT      64.27
2017-01-27  AAPL     121.95
            GOOGL    845.03
            MSFT      65.78
Name: Close, dtype: float64